<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <title>TAGARELADOR</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-md col-md-6 mx-auto">
            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Tagarela!</h1>
                <p class="lead"><a href="/">@@@Model.UserName</a> 
                    <a class="navbar-brand" asp-area="" asp-controller="Perfil" asp-action="Seguir" asp-route-userName="@Model.UserName">Seguir</a> 
                </p>                   
            </div>

            <div class="mx-auto text-center">
                <p>PLACEHOLDER MENSAGENS</p>
                @* @foreach(var mensagem in Model){
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2 my-auto">
                                    <img src="/img/blank.png" class="img-thumbnail rounded-circle">
                                </div>
                                <div class="col-10">
                                    <p class="card-text"><small class="text-muted">@mensagem.Autor.DisplayName <a href="/">@@@mensagem.Autor.UserName</a> . @mensagem.CriadoEm</small></p>
                                    <p>@mensagem.Conteudo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                } *@
            </div>
        </div>
    </body>
</html>